<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tu Oasis Musical - Lista del Sol</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> </head>
<body>
  <header>
    <div id="PreHeader">
      {{> submenu}}
    </div>
    <div id="MainHeader">
      <div id="LogoHeader">
        <a href="/">Lista del Sol</a> </div>
      <div id="MenuHeader">{{>menu}}</div>
    </div>
  </header>
  <main>
    <div id="container">
      <h1 class="profile-title">Bienvenido a tu Oasis Musical</h1>
      <div id="perfil">
        <div class="profile-picture">
          {{#if login.profile._json.avatar_url}}
            <img src="{{login.profile._json.avatar_url}}" alt="Tu avatar de GitHub">
          {{else}}
            <i class="fa-solid fa-user-circle" aria-hidden="true"></i> {{/if}}
        </div>
        <div class="user-info">
          <h2>{{login.first_name}} {{login.last_name}}</h2>
          {{#if login.profile._json.bio}}
            <p class="bio">{{login.profile._json.bio}}</p>
          {{/if}}
          <p><strong>Correo Electrónico:</strong> {{login.email}}</p>
          {{#if age}}
            <p><strong>Edad:</strong> {{login.age}}</p>
          {{/if}}
          <div class="instruments">
            <h3>Instrumentos:</h3>
            <ul>
              <li>Guitarra</li>
              <li>Piano (Aprendiendo)</li>
            </ul>
          </div>
          <div class="music-preferences">
            <h3>Preferencias Musicales:</h3>
            <ul>
              <li>Rock</li>
              <li>Jazz</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <ul>
      <li><a href="/home">Página de Inicio</a></li>
    </ul>
  </footer>
</body>
</html>
