<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tienda Musical - Lista del Sol</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
  <header>
    <div id="PreHeader">
      {{> submenu}}
    </div>
    <div id="MainHeader">
      <div id="LogoHeader">Lista del Sol</div>
      <div id="MenuHeader">{{>menu}}</div>
    </div>
  </header>
  <main>
    <div id="container">
      <h1>Instrumentos {{#if login}}Bienvenido/a {{login.rol}} : {{login.first_name}}{{/if}}</h1>
      <div id="articulos">  {{#each instrumentos}}  <ul data-id={{_id}}>
            <li><h3> {{nombre}} <h3></li>  <li> {{descripcion}} </li>  <li>$ {{precio}} </li>  <li><img src={{imagen}} alt={{descripcion}} width="250" > </li>  <li class="codigo">C칩digo: {{codigo}} </li>  <li class="codigo">Id: {{_id}}</li>
            <li>Stock Actual {{stock}} </li>
            <li><button class="agregar-al-carro" onclick="agregarAlCarro(`{{_id}}`)">Agregar al carrito</button></li> </ul>
        {{/each}}
      </div>
    </div>
  </main>
  <footer>
    <input type="text" value="{{carrito}}" id="carrito" hidden />
    <a href="/carrito/{{carrito}}">Ir a Carrito</a>
    <ul>
      {{#if pageInfo.hasPrevPage}}
        <li><a href="http://localhost:8080/products?limit={{pageInfo.limit}}&page={{pageInfo.prevPage}}"> <<< P치gina Anterior</a></li> 
      {{/if}}
      <li><input id="PaginaActual" type="number" max="{{pageInfo.totalPages}}" min="1" step="1" id="PaginaActual" value="{{pageInfo.page}}" name="PaginaActual" onchange="CambioPagina()" ></li>
      {{#if pageInfo.hasNextPage}}
        <li><a href="http://localhost:8080/products?limit={{pageInfo.limit}}&page={{pageInfo.nextPage}}" style="border-left: none;">Pr칩xima P치gina >>> </a></li>
      {{/if}}
    </ul>
  </footer>
  <script>
  const CambioPagina = () => {
    const inputPaginaActual = document.getElementById("PaginaActual");
    console.log(inputPaginaActual.value)
    window.location.href ="/products?limit={{{pageInfo.limit}}}&page="+inputPaginaActual.value; 
  }
  </script>
  <script src="/js/productos.js"></script> <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
