<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{datos.description}}">
        <meta name="keywords" content="{{datos.keywords}}">
        <meta name="author" content="{{datos.author}}">
        <link rel="icon" type="image/x-icon" href="../img/icon.ico">
        <link rel="stylesheet" href="../css/estilo.css">

        <title>{{datos.title}}</title>
    </head>
    <body>
        
        {{{body}}}
        
    </body>
</html>